.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;         
    gap: 24px;
    padding: 0px;
    margin: 24px 156px;
    list-style: none;
    width: 1128px;
    height: auto;             
    overflow: hidden;
    }

.gallery-item {
    height: 200px;
    width: 360px;
    flex: 0 0 360px;
    overflow: hidden;
}